In [17]:
import pandas as pd

In [18]:
df = pd.read_csv('data/Climate_Change_Indicators.csv')
df.head(5)

,Year,Global Average Temperature (°C),CO2 Concentration (ppm),Sea Level Rise (mm),Arctic Ice Area (million km²)
0,1948,13.17,397.04,116.25,5.97
1,1996,13.10,313.17,277.92,9.66
2,2015,14.67,311.95,290.32,8.40
3,1966,14.79,304.25,189.71,11.83
4,1992,13.15,354.52,14.84,11.23

## 2. Univariate Analysis
Perform univariate analysis for each climate variable

In [19]:
# Calculate descriptive statistics for 'Sea Level Rise (mm)'
sea_level_rise_stats = {
    'Statistics': ['Mean', 'Median', 'Range', 'Standard Deviation', 'Minimum', 'Maximum'],
    'Value': [
        round(df['Sea Level Rise (mm)'].mean(), 2),
        round(df['Sea Level Rise (mm)'].median(), 2),
        round(df['Sea Level Rise (mm)'].max() - df['Sea Level Rise (mm)'].min(), 2),
        round(df['Sea Level Rise (mm)'].std(), 2),
        round(df['Sea Level Rise (mm)'].min(), 2),
        round(df['Sea Level Rise (mm)'].max(), 2)
    ]
}

In [20]:
sea_level_rise_stats_df = pd.DataFrame(sea_level_rise_stats)
sea_level_rise_stats_df

           Statistics   Value
0                Mean  149.99
1              Median  150.02
2               Range  300.00
3  Standard Deviation   86.58
4             Minimum    0.00
5             Maximum  300.00

###### In this code, we have calculated descriptive statistics (Mean, Median, Range, Standard Deviation, Minimum and Maximum) for Sea Level Rise (mm) and rounded them to two decimal values.

In [21]:
# Calculate descriptive statistics for 'Arctic Ice Area (million km²)'
arctic_ice_area_stats = {
    'Statistics': ['Mean', 'Median', 'Range', 'Standard Deviation', 'Minimum', 'Maximum'],
    'Value': [
        round(df['Arctic Ice Area (million km²)'].mean(), 2),
        round(df['Arctic Ice Area (million km²)'].median(), 2),
        round(df['Arctic Ice Area (million km²)'].max() - df['Arctic Ice Area (million km²)'].min(), 2),
        round(df['Arctic Ice Area (million km²)'].std(), 2),
        round(df['Arctic Ice Area (million km²)'].min(), 2),
        round(df['Arctic Ice Area (million km²)'].max(), 2)
    ]
}

In [22]:
arctic_ice_area_stats_df = pd.DataFrame(arctic_ice_area_stats)
arctic_ice_area_stats_df

           Statistics  Value
0                Mean   9.00
1              Median   9.00
2               Range  12.00
3  Standard Deviation   3.46
4             Minimum   3.00
5             Maximum  15.00

###### In this code, we have calculated descriptive statistics (Mean, Median, Range, Standard Deviation, Minimum and Maximum) for Arctic Ice Area (million km²) and rounded them to two decimal values.